asgiref==3.8.1
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.1
cloudinary==1.44.0
crispy-bootstrap4==2024.10
cryptography==44.0.2
dj-rest-auth==7.0.1
Django==5.2
django-allauth==65.7.0
django-cloudinary-storage==0.3.0
django-cors-headers==4.7.0
django-crispy-forms==2.4
django-environ==0.12.0
django-filter==25.1
django-stubs==5.2.0
django-stubs-ext==5.2.0
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
idna==3.10
iniconfig==2.1.0
oauthlib==3.2.2
packaging==25.0
pillow==11.2.1
pluggy==1.6.0
psycopg==3.2.6
psycopg-binary==3.2.6
pycparser==2.22
PyJWT==2.9.0
pytest==8.3.5
pytest-django==4.11.1
requests==2.32.3
requests-oauthlib==2.0.0
six==1.17.0
sqlparse==0.5.3
types-PyYAML==6.0.12.20250402
typing_extensions==4.13.2
urllib3==2.4.0
whitenoise==6.9.0
